# arc | arcTestnet | arcLocal
NEXT_PUBLIC_CHAIN=arcTestnet
NEXT_PUBLIC_TURNOUT_ADDRESS=
NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io

# server only, used by /api/upload
PINATA_JWT=
